@media only screen and (max-width: 800px)
{
    .cont1
    {
        padding-top: 20%;
        padding-bottom: 15%;
    }
}
@media only screen and (max-width: 680px)
{
    .pre
    {
        font-size: 20px;
    }
    .mast__title
    {
        letter-spacing: unset !important;
        font-size: 38px !important;
        padding-top: 15% !important;
    }
    .mast__text
    {
        font-size: 21px !important;
    }
}
@media only screen and (max-width:490px)
{
    #IconContainer #icon #link
    {
        width: 45px;
        font-size: 30px;
    }
    #Switch
    {
        width: 50px;
        height: 50px;
    }
    .mast__title
    {
        letter-spacing: unset !important;
        font-size: 38px !important;
        padding-top: 15% !important;
    }
    .mast__text
    {
        font-size: 21px !important;
    }
}
@media only screen and (max-width:430px)
{
    #sec1
    {
        border: unset;
        margin: 0;
        box-shadow: none;
        position: relative;
        backdrop-filter: unset !important;
        padding-bottom:8%;
    }
    .navbar
    {
        display: flex;
        flex-wrap: unset;
        padding: 0;
    }
    #body
    {
        background-image: url(BG_phone.png) !important;
    }
    .navbar-dark .navbar-nav .nav-link
    {
        color: #000 !important;
        text-shadow:0px 0px 20px rgba(0, 0, 0, 1) !important;
    }
    .navbar-collapse
    {
        position: absolute;
        top: 0;
        border-radius: 20px;
        background: #ecf7f675;
    }
    .cont1
    {
        padding-top: 20%;
        padding-bottom: 5%;
        padding-left: unset;
        padding-right: unset;
    }
    .navbar-toggler
    {
        font-size: 15px;
    }
    nav
    {
        height: 60px;
    }
    #IconContainer #icon #link
    {
        width: 35px;
        font-size: 20px !important;
        height: 35px;
    }
    #IconContainer
    {
        position: absolute;
    }
    #Switch
    {
        width:35px;
        height: 35px;
    }
    .mast__text 
    {
        font-size: 14px !important;
        padding-bottom: 15%;
    }
    .mast__title 
    {
        font-size: 20px !important;
        padding-top: 20%;
    }
    .Dark
    {
        margin-bottom: 8%
    }
}