.tippy-box[data-theme~='tomato'] {
  background: tomato;
  border: 1px solid yellow;
  font-size: 18px;
  font-family: 'Dancing Script', cursive;
}
.tippy-box[data-theme~='tomato'] > .tippy-arrow::before {
  transform: scale(2);
  border: 1px solid tomato;
}
body 
{overflow: hidden;}
.clubs-list h2
{
    font-size: 100% !important;
}
.clubs-list a
{
    font-size: 80% !important;
}
a:hover 
{
  text-decoration: none;
}
.controls
{
  display: none !important;
}
.quote-str 
{
  width: 90%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 15px 35px rgb(0 0 0 / 40%);
  margin-left: 5%;
  padding-top: 5%;
  padding-left: 5%;
  border-radius: 15px;
  font-size: 13px;
  margin-top: 8%;
}
.quote 
{
  padding-bottom: 2%;
}
.quote-str .avatar 
{
  position: absolute;
  right: 9%;
  bottom: 6%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgb(0 0 0 / 10%);
  border: solid 3px rgba(240, 76, 0, 0.959);
}
.sign 
{
  width: 100%;

}
.sign i 
{
  font-size: 30px;
  color: #ff6600;
}
@media only screen and (min-width:2000px)
{
    .contact a
    {
        font-size: 40px;
    }
    
    .navi 
    {
        font-size: 40px !important;
    }
    .heading
    {
        font-size: 40px !important;
    }
    

     h1 
    {
        font-size: 35px !important;
    }
    .quit
    {
        font-size: 55px;
    }
}
.logo
{
    text-align: center;
    position: absolute;
    top: 3%;
}
.logo img
{
    width: 70%;
}
.navi
{
    text-align: center;
    margin-top: 20%;
    font-size: 30px;
    color: #ccc
}
.clubs_str 
{
    position: absolute;
    top: 25%;
    height: 70%;
    border-radius: 10%;
    width: 100%;
    overflow: auto;
    padding: 5%;
}
.clubs_str::-webkit-scrollbar
{
  width: 0px;
}
.clubs_str::-webkit-scrollbar-thumb
{
  background: transparent;
}
.title_str
{
    display: flex;
    box-shadow: 0 15px 35px rgb(0 0 0 / 80%);
    backdrop-filter: blur( 4px );
    width: 90%;
    height: 70px;
    position: absolute;
    right: -23%;
    margin-top: 35%;
    background: linear-gradient(to right, #fdc830, #f37335);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.navi:hover 
{
    color: #ff6600;
}
.quit
{
    position: absolute;
    bottom: 3%;
    text-align: center;
    font-size: 40px;
    width: 100%;
}
.quit a
{
    color: #ccc;
}
.quit:hover a
{
    color: #8c00ff;
}

.content
{
    border-radius: 20px;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    overflow: auto;
    max-height: 95%;
}
.content::-webkit-scrollbar {
    width: 20px;
  }
.content::-webkit-scrollbar-thumb
{
    background: transparent;
}
.content::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(martial.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    opacity: 0.02;
    
}
.heading
{
    font-size: 30px;
    margin-top: 2%;
    text-align: center;
}
.para
{
    margin-top: 3%;
    font-size: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.contact
{
    position: absolute;
    top: 0;
    right: -8%;
    width: 70%;
    height: 7%;
    background: rgba(255,255,255,1);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 2%;
    text-align: center;
}
.contact a  
{
    font-size: 25px;
    margin-left: 11%;
    color: #ff7300;
}
.clubs-list
{
    padding: 2%;
    padding-bottom: 2%;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 10px rgb(0 0 0 / 20%);
    backdrop-filter: blur(4px);
    margin-top: 15%;
    border-radius: 10px;
}
.clubs-list a:hover 
{
    text-decoration: none;
}
@media only screen and (max-width:1370px)
{
    .title
    {
        font-size: 22px !important;
    }
    .contact a 
    {
        font-size: 22px;
    }
}
@media only screen and (max-width:1220px)
{
    .title
    {
        font-size: 20px !important
    }
    .contact a 
    {
        font-size: 20px;
    }
} 
@media only screen and (max-width:1150px) {
    .title
    {
        font-size: 18px !important;
    }
    .contact a 
    {
        font-size: 18px;
    }
    .wrapper
    {
        display: none;
    }

}
@media only screen and (max-width:1050px)
{
    .title
    {
        font-size: 16px !important;
    }
    .contact a 
    {
        font-size: 16px;
    }

}
@media only screen and (max-width:990px)
{
    .clubs_str

    {
        width: 90%;
        overflow: unset;
        height: unset;
    }
    .clubs_str::-webkit-scrollbar
  {
    width: 0px;
  }
  .clubs_str::-webkit-scrollbar-thumb
  {
    background: transparent;
  }
    span 
    {
      color: #f37335 !important;
    }
    /* #img
    {
      width: 0 !important;
      height: 0 !important;
    } */
    body 
    {
        overflow: auto;
    }
    .title_str{
        right: 5%;
        margin-top: 7%;
        color: #fff;
        width: 45%;
    }
    .title_str .title
    {
        color: #fff !important;
    }
    .main
    {
        height: unset !important;
    }
    .clubs_str
    {
        margin-top: 20%;
    }
    .column1
    {
        border-radius: 20px !important;
        background: rgba(255,255,255,0.8);
        backdrop-filter: blur(400px);
        padding-top: 2%;
        width: 100%;
        height: 5% !important;
         z-index:  1000    ;
        position: sticky;
        top: 2%;
        margin-right: 2%;
        left: 0;
    }
    .logo
    {
        text-align:  unset;
        position: absolute;
        top: 3%;
        left: 0;
    }
    .logo img 
    {
        width: 12%;
    }
    .navi_str
    {
        width: 100% !important;
        display: unset !important;
        margin-top: 0 !important;
        font-size: 45px !important;
        padding-top: 0 !important;
        height: unset !important;
        text-align: unset !important;
        margin-left: 12% !important;
    }
    .quit 
    {
        position: absolute;
        right: 3%;
        text-align: center;
        font-size: 40px;
        height: 100%;
        top: 15%;
        width: unset;
    }
    .contact
    {
        display: none;
    }
    .clubs-list
    {
        padding: 2%;
        padding-bottom: 2%;
        background: rgba(255,255,255,0.2);
        backdrop-filter: blur(4px);
        margin-top: 5%;
        border-radius: 10px;
        margin-bottom: 5%;
    }

    .title
    {
        font-size: 40px !important;
        margin-top: 5% !important;
        padding-left: 2% !important;
        color: #000 !important;
    }
    .navi
    {
        margin-left: 7%;
        font-size: 50px;
    }
    .content
    {
        display: block;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: rgba(255,255,255,0.2);
        box-shadow: 0 15px 35px rgb(0 0 0 / 50%);
        backdrop-filter: blur(4px);
        margin-top: 10%;
        margin-bottom: 3%;
        margin-left: 5%;
        overflow: auto;
        text-align: center;
        max-height: unset;
        width: 90%;
 
    }
    .para
    {
        text-align: left;
    }
    .clubs-list h2
    {
      color: #f37335 !important;
    }
    .clubs-list a 
    {
      color: #000 !important;
    }
}
@media only screen and (max-width:770px)
{
    .logo img 
    {
        width: 15%;
    }
    .navi 
    {
        font-size: 40px;
    }
    .content
    {
        background: unset;
        box-shadow: unset;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        height: unset;
        padding: 0%;
    }
    .para
    {
        text-align: left;
        padding-left: 2% !important;
    }
    
}
@media only screen and (max-width:660px)
{
    .logo img 
    {
        width: 15%;
    }
    .clubs_str
    {
        margin-top: 25%;
    }

    .navi 
    {
        font-size: 30px;
    }
    .title
    {
        font-size: 32px !important;
    }
    .main 
    {
        background: unset !important;
        box-shadow: unset !important;
        border-radius: 20px !important;
        width: 100% !important;
        margin-top: 2% !important;
    }
    .clubs_str

    {
        width: 90%;
    }
}

@media only screen and (max-width:530px)
{
    .logo
    {
        top: 20%;
    }
    .logo img 
    {
        width: 12%;
    }
    .navi 
    {
        margin-left: 4%;
        font-size: 25px;
    }
    .title
    {
        font-size: 22px !important;
    }
    .para
    {
        padding-left: 0;
        padding-right: 0;
    }
    .content img 
    {
      width: 100% !important;
      height: 100%;
    }
}    


.disappear
{
    transform: translateY(10000%) !important;
}
.BG
{
    box-shadow: unset !important;
    backdrop-filter: blur(0px) !important;
    background: transparent !important;
}
.margin 
{
    margin-top: -102% !important;
    transform: translateY(10000%) !important
}
.wrapper{
    overflow: hidden;
    position: absolute !important;
    bottom: 0;
    background: linear-gradient(to right, #fdc830, #f37335);
    box-shadow: 0 15px 35px rgb(0 0 0 / 80%);
    backdrop-filter: blur( 4px );
    text-align: center;
    width: 70%;
    overflow: hidden;
    border-radius: 10px;
    transition-delay: 2s;
    transition: all .5s cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  .wrapper i{
    cursor: pointer;
  }
  .top-bar, .progress-area .song-timer, 
  .controls, .music-list .header, .music-list ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-bar i{
    font-size: 30px;
    color: #f4791f;
  }
  .top-bar i:first-child{
    margin-left: -7px;
  }
  .top-bar span{
    font-size: 18px;
    margin-left: -3px;
    color: #f4791f;
  }
  .img-area{
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 2%;
    box-shadow: 0px 6px 12px var(--lightbshadow);
    transform: unset;
    transition-delay: 0.2s;
    transition: all .5s cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  .img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .song-details{
    text-align: left;
    margin: 0;
    transform: unset;
    transition-delay: 0.3s;
    transition: all .5s cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  .song-details p{
    color: #fff;
  }
  .song-details .name{
    font-size: 21px;
    margin: 0%;
  }
  .song-details .artist{
    font-size: 18px;
    opacity: 0.9;
    margin-top: 2%;
    margin-bottom: 0%;
  }
  .progress-area{
    height: 6px;
      width: 100%;
      border-radius: 50px;
      background: #f0f0f0;
      cursor: pointer;
      margin-top: 10%;
      margin-bottom: 10%;
      transform: unset;
      transition-delay: 0s;
      transition: all .5s cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  .progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, #FDC830,#F37335);
  }
  .progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
  }
  .progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
  }
  .progress-area .song-timer{
    margin-top: 2px;
  }
  .song-timer span{
    font-size: 13px;
    color: #fff;
  }
  .controls{
    margin-top: 6%;
    margin-bottom: 6%;
    background: linear-gradient(to left, #fdc830, #f37335);
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
  }
  .controls i{
    font-size: 30px;
    user-select: none;
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .controls i:nth-child(2),
  .controls i:nth-child(4){
    font-size: 43px;
  }
  .controls #prev{
    margin-right: -13px;
  }
  .controls #next{
    margin-left: -13px;
  }
  .controls .play-pause{
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .play-pause::before{
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
  }
  .play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 50px;
    -webkit-text-fill-color: transparent;
    position: absolute;
  }
  
  .header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #f4791f;
  }
  .header .row i{
    cursor: default;
  }
  .header .row span{
    margin-left: 5px;
  }
  .header #close{
    font-size: 22px;
    color: #f4791f;
  }
  .music-list{
    position: absolute;
    background: var(--white);
    width: 100%;
    left: 0;
    bottom: -55%;
    top: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    transition: all 0.15s ease-out;
  }
  .music-list.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
    overflow: auto;
    padding: 5%;
  }
  .music-list ul{
    margin-top: 15%;
      margin-left: 0;
      padding-left: 0;
      overflow: auto;
  }
  .music-list ul::-webkit-scrollbar{
    width: 0px;
  }
  .music-list ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: #f4791f;
    border-bottom: 1px solid #E5E5E5;
    margin-left: 7%;
  }
  .music-list ul li:last-child{
    border-bottom: 0px;
  }
  .music-list ul li .row span{
    font-size: 17px;
  }
  .music-list ul li .row p{
    opacity: 0.9;
  }
  ul li .audio-duration{
    font-size: 16px;
  }
  ul li.playing{
    pointer-events: none;
    color: #f4791f;
  }